
.it-block{
    position: absolute;
    top: 100px;
    left: 100px;
    display: inline-block;
    min-width: 300px;
    min-height: 300px;
    background-color: rgb(4, 67, 241);
    border: 1px solid black;
}

.it-text{
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 300px;
}