<footer class="bg-light text-center text-lg-start footer">
    <div class="container p-4 pb-0">
      <form>
        <div class="row">
          <div class="col-auto">
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline mb-4">
              <input class="form-control" placeholder="example@mail.com" (change)="onInputValueChange($event.target.value)"/>
            </div>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary mb-4" (click)="onSubmitClick()">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="text-center p-3 bg-dark text-light">
      © 2021 Copyright:
      <span class="text">JustDoSomethingGreat - handmade by Łukasz, Anna, Magda, Jacek</span>
    </div>
  </footer>